<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 class="game-title">Nosotros</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div class="story-section">
    <ion-card class="dark-card">
      <ion-card-header>
        <ion-card-title class="section-title">Sobre Nosotros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="story-text">
         Somos un equipo apasionado de desarrolladores independientes comprometidos con crear experiencias de juego. <br>
         Nuestra misión es llevar historias profundas y mecánicas innovadoras a jugadores de todo el mundo. <br>
         Creemos que los mejores videojuegos son aquellos que desafían, emocionan y dejan una huella duradera en quien los juega. <br>
         Por eso, nos enfocamos en desarrollar títulos con narrativas ramificadas, decisiones significativas y mundos que cobran vida a través de cada elección del jugador. <br>
         Nuestra Filosofía: </p> <br>
<ul>
  <li>Narrativas complejas con consecuencias reales</li>
  <li>Diseño artístico distintivo y atmosférico</li>
  <li>Mecánicas de juego accesibles pero desafiantes</li>
  <li>Experiencias que invitan a la rejugabilidad</li>
</ul>
        <p class="story-text">
Desde nuestro estudio, trabajamos día a día para pulir cada detalle, desde la jugabilidad hasta el audio ambiental, porque sabemos que la magia está en los pequeños detalles que hacen grande una experiencia.
Nuestro primer proyecto, "V Magma: Infierno Urbano", es solo el comienzo de muchas historias que queremos contar.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <img src="../../../assets/img/Eclipse5.jpeg" alt="" class="img">
</ion-content>
